[Unit]
Description=tidio daemon script
After=auditd.service systemd-user-sessions.service time-sync.target

[Service]
User=gregory
TimeoutStartSec=0
Type=simple
WorkingDirectory=/var/local/tidio
ExecStart=/home/gregory/bin/tidio
Restart=always
LimitNOFILE=5555

[Install]
WantedBy=multi-user.target
